* {
	/*font-family: Consolas, 'Courier New', monospace;*/
}

html {
	padding: 10px;
}

table {
	margin: 10px;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 0.25fr;
	grid-template-rows: repeat(10, 1fr);
	border: rgb(210,210,210) solid 1px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: rgba(10,10,10,.25) 10px 10px 5px;
	margin: 10px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.flex-container > label {
	padding: 2px;
}

.container > button {
	margin: 10px;
}
.container > label {
	justify-self: end;
	align-self: center;
	padding-right: 10px;
}
.container > input {
	width: 0;
	min-width: 98%;
}
.column1 { grid-column: 1 / 2; }
.column2 { grid-column: 2 / 3; }
.column3 { grid-column: 3 / 4; }
.column4 { grid-column: 4 / 5; }
.column5 { grid-column: 5 / 6; }
.row1 { grid-row: 1 / 2; }
.row2 { grid-row: 2 / 3; }
.row3 { grid-row: 3 / 4; }
.row4 { grid-row: 4 / 5; }
.row5 { grid-row: 5 / 6; }
.row6 { grid-row: 6 / 7; }
