html {
	height: 100%;
	background-image: linear-gradient(0.5turn,#14303a, #285668);
	overflow: hidden;
}

body {
	height: 100%;
	width: 100%;
	font-family: Consolas, 'Courier New', monospace;
}

#navigation-menu {
	height: 95%;
	width: 15%;
	margin-top: 5px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	display: inline-block;
	vertical-align: top;
	border-right: solid white 2px;
}

a {
	color: white;
	text-decoration:none;
}
a:hover {
	color: orange;
}

a:active {
	color: gray;
}
