* {
	border: black solid 1px;
}

html {
	overflow: hidden;
}

body {
	font-family: Consolas, 'Courier New', monospace;
}


#left-container {
	margin: auto;
}

#middle-container {
	margin: auto;
	width: 80ch;
}

a {
	color: black;
	text-decoration:none;
}
a:hover {
	color: orange;
}

a:active {
	color: gray;
}
